@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-text: #e8e8e8;
    --color-text2: #ff4040;
    --color-background: #000000;
    --color-overlay: #09090966;

    --color-slider-active: #f34d3d;

    --upever-txt: #f32e32;
    --upever-bg: #000d20;
    --lared-txt: #e8e8e8;
    --lared-bg: #cc0000;
    --dimaitre-txt: #;
    --dimaitre-bg: #;
    --caldelica-txt: #b99053;
    --caldelica-bg: #162c39;
    --coach-txt: #;
    --coach-bg: #;
    --caioso-txt: #0d0d0d;
    --caioso-bg: #e8b023;
    --andiamo-txt: #;
    --andiamo-bg: #;
    --dunkel-txt: #fff;
    --dunkel-bg: linear-gradient(-45deg, #2d1802 0%, #2d1102 50%, #2d1802 100%);
    
    --font: 'Poppins', sans-serif;
    --size-text: 1em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0 5vw;
    background-color:var(--color-background);
}

.logo a{
    color: var(--color-text);
    font-family: var(--font);
    font-size: 1.3em;
}

.open-nav-btn {
    display: none;
}

.open-bars{
    position: absolute;
    display: block;
    border-radius: 40px;
    height: 0.6vh;
    width: 70%;
    background-color: var(--color-text);
}

.open-bars:nth-child(1){
    top: 1.75vh;
}

.open-bars:nth-child(2){
    opacity: 1;
}

.open-bars:nth-child(3){
    bottom: 1.75vh;
}

.close-nav-btn {
    display: none;
}

.close-bars{
    position: absolute;
    display: block;
    border-radius: 40px;
    height: 0.6vh;
    width: 70%;
    background-color: var(--color-text);
}

.close-bars:nth-child(1){
    transform: rotate(-45deg);
}

.close-bars:nth-child(2){
    transform: rotate(45deg);
}


nav{
    position: relative;
}

.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.menu-list li{
    list-style-type:none;
}

.menu-list li a{
    color: var(--color-text);
    font-family: var(--font);
    font-weight: 400;
    font-size: --size-text;
    transition: all 0.3s ease-in-out;
}

.menu-list li a:hover{
    color: var(--color-text2);
    transition: all 0.3s ease-in-out;
}

.chamada{
    height: 85vh;
    width: 100%;
    background-color: var(--color-background);
    padding: 0 5vw;
    position: relative;
}

.titulo{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:flex-start;
}

.titulo h1 {
    font-family: var(--font);
    font-weight: 600;
    font-size: 5em;
    line-height: 100%;
    color: var(--color-text);
}

.subtitulo{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitulo p{
    color: var(--color-text);
    font-family: var(--font);
    font-weight: 400;
    font-size: var(--size-text);
}

.curriculo-btn {
    margin-top: 3vh;
    background-color: var(--color-text2);
    border-radius: 5px;
    width: 175%;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.curriculo-btn p{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-size: var(--size-text);
    font-weight: 400;
    text-decoration: none;
    color: var(--color-text);
}

.icon-download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--color-text2);
    transition: all 0.2s ease-in-out;
}

.icon-download i{
    font-size: var(--size-text);
    text-decoration: none;
    color: var(--color-text);
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.curriculo-btn:hover .icon-download{
    background-color: var(--color-text);
    transition: all 0.2s ease-in-out;  
}

.curriculo-btn:hover i{
    color: var(--color-background);
    transition: all 0.2s ease-in-out;  
}

.portfolio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-background);
}

.upever{
    background-color: var(--upever-bg);
    color: var(--upever-txt);
}

.lared{
    background-color: var(--lared-bg);
    color: var(--lared-txt);
}

.caldelica{
    background-color: var(--caldelica-bg);
    color: var(--caldelica-txt);
}

.caioso{
    background-color: var(--caioso-bg);
    color: var(--caioso-txt);
}

.dunkel{
    background-image: var(--dunkel-bg);
    color: var(--dunkel-txt);
}

.projetos{
    width: 50%;
    height: 70vh;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.project-logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-logo img{
    width: 10vw;
    transition: all 0.5s ease-in-out;
}

.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.projetos:hover .cover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.projetos:hover .project-logo img{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.project-bg{
    width: 100%;
    height: 100%;
}

.project-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .2;
}

.selo{
    position: absolute;
    width: 100%;
    height: 21%;
    left: 2%;
    bottom: 2%;
    transition: all 0.5s ease-in-out;
}

.selo h2{
    text-align:left;
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.6em;
}

.selo p{
    text-align:left;
    color: var(--color-text);
    font-family: var(--font);
    font-weight: 400;
    font-size: .8em;
}

.open-project{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 2%;
    position: absolute;
    bottom: 0;
}

.open-project h3{
    color: var(--color-text);
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.3em;
    transition: all 0.3s ease-in-out;
}

.open-project i{
    color: var(--color-text);
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 10vh;
    background-color: var(--color-background);
}

.backtotop{
    margin-left: 8em;
    width: 2.2em;
    height: 2.2em;
    border-radius: 45px;
    border: none;
    background-color: var(--color-text2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.backtotop:hover{
    background-color: var(--color-text);
    transition: all 0.2s ease-in-out;
}

.backtotop i{
    font-size: var(--size-text);
    color: var(--color-text);
    transition: all 0.2s ease-in-out;
}

.backtotop:hover i{
    color: var(--color-background);
    transition: all 0.2s ease-in-out;
}

.creditos p{
    font-family: var(--font);
    color: var(--color-text);
    text-align: center;
    font-size: 10pt;
    font-weight: 300;
}

.social{
    width: 10em;
}

.socialmedia{
    width: 200px;
    height: 25px;
    position: relative;
}

.socialmedia ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 25px;
    transition: all 0.5s ease-in-out;
}

.socialmedia ul li{
    list-style-type: none;
}

.rs a{
    color: var(--color-text);
    font-size: 16pt;
    cursor: pointer;
}

.rs a:hover{
    color: var(--color-text2);
}

.menu-social{
    display: none;
}

@media (min-width: 769px) and (max-width: 1024px){  /*telas pequenas, laptops*/
    body{
        width: 100vw;
    }

    .logo a{
        font-size: 1.4em;
    }

	.project-logo img{
        width: 14vw;
    }
}

@media (min-width: 481px) and (max-width: 768px){   /*iPads, tablets*/
    body{
        width: 100vw;
    }

    .logo a{
        font-size: 1.4em;
    }

    .chamada{
        height: 83vh;
    }

    .subtitulo{
        margin-top: 1vh;
    }

    .subtitulo p{
        font-size: .9em;
    }

    .project-logo img{
        width: 18vw;
    }

    .projetos{
        height: 45vh;
    }

    .cover{
        display: none;
    }

    .projetos:hover .project-logo img{
        opacity: 1;
    }
}

@media (min-width: 320px) and (max-width: 480px){   /*dispositivos móveis*/
    body{
        width: 100vw;
    }
    
    .logo a{
        font-size: 1.2em;
    }

    .chamada{
        height: 83vh;
    }

    .titulo{
    height: 70vh;
    }

    .titulo h1 {
        font-size: 4.7em;
    }

    .subtitulo{
        margin-top: 1vh;
        margin-bottom: 2vh;
    }

    .subtitulo p{
        font-size: .8em;
        line-height: 1.7em;
    }

    .subtitulo span{
        display: flex;
        flex-direction: column;
    }

    .curriculo-btn {
        width: 140%;
    }
    
    .icon-download{
        justify-content: start;
        width: 20%;
        height: 100%;
    }
    
    .icon-download i{
        margin: 25%;
    }

    .project-logo img{
        width: 30vw;
    }

    .projetos{
        width: 100%;
        height: 55vh;
    }

    .cover{
        display: none;
    }

    .projetos:hover .project-logo img{
        opacity: 1;
    }
}

@media (min-width: 320px) and (max-width: 768px){ /*menus ipad e celular*/
    body{
        width: 100vw;
    }

    .open-nav-btn{
        display: flex;
        width: 50px;
        height: 50px;
        border: none;
        transition: 0.3s ease-in-out;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .close-nav-btn{
        display: none;
        width: 50px;
        height: 50px;
        border: none;
        transition: 0.7s ease-in-out;
        position: absolute;
        top: 1.5em;
        right: .8em;
        z-index: 3;
    }

    nav{
        position: absolute;
        background-color: var(--color-text2);
        height: 100vh;
        width: 16em;
        top: 0;
        right: 0;
        z-index: 2;
        transition: 0.7s ease-in-out;
        display: none;
    }

    .menu-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 30px;
        padding-top: 10%;
    }

    .menu-social{
        display: none;
    }

    .menu-list li a{
        font-size: 1.25em;
    }

    .menu-social{
        display: flex;
        width: 100%;
        height: 10%;
        position: absolute;
        bottom: 0;
    }

    .menu-socialmedia{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
    }

    .menu-socialmedia ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12.5%;
    }

    .menu-socialmedia ul li{
        list-style-type: none;
    }

    .menu-rs a{
        color: var(--color-text);
        font-size: 1.7em;
        cursor: pointer;
    }
    
    .social{
        display: none;
    }
}

















