@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-b1: #000;
    --color-b2: #333;
    --color-b3: #666;
    --color-w1: #ccc;
    --color-w2: #fff;

    --dunkel-txt: #fff;
    --dunkel-bg: linear-gradient(-45deg, #2d1802 0%, #2d1102 50%, #2d1802 100%);
    --cerveja-txt: #0d0d0d;
    --cerveja-bg: #fab43c;
    --cantarola-txt: #ffce1b;
    --cantarola-bg: #76036b;
    --manifesto-txt: #ffae6c;
    --manifesto-bg: #000a13;
    --dimaitre-txt: #eac087;
    --dimaitre-bg: #136552;
    --daroca-txt: #ffffff;
    --daroca-bg: linear-gradient(-45deg, #ff2020 0%, #181818 50%, #146c03 100%);
    --solitude-txt: #c2a9ff;
    --solitude-bg: #440070;
    --caldelica-txt: #b99053;
    --caldelica-bg: #162c39;
    --lared-txt: #e8e8e8;
    --lared-bg: #cc0000;
    --up-txt: #f32e32;
    --up-bg: #000d20;
    
    --font: 'Poppins', sans-serif;
    --size-text: 1em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color:var(--color-b1);
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    padding: 0 5vw;
    background-color:var(--color-b1);
}

.logo a{
    color: var(--color-w1);
    font-family: var(--font);
    font-size: 1.3em;
}

.menu{
    position: relative;
}

.open-nav-btn {
    display: none;
}

.close-nav-btn {
    display: none;
}

.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.menu-list li{
    list-style-type:none;
}

.menu-list li a{
    color: var(--color-w1);
    font-family: var(--font);
    font-weight: 400;
    font-size: var(--size-text);
    transition: all 0.3s ease-in-out;
}

.menu-list li a:hover{
    color: var(--color-w2);
    transition: all 0.3s ease-in-out;
}

.chamada{
    height: 85vh;
    width: 100%;
    background-color:var(--color-b1);
    padding: 0 5vw;
    position: relative;
}

.hero{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.titulo{
    font-family: var(--font);
    font-weight: 600;
    font-size: 5em;
    line-height: 100%;
    color: var(--color-w2);
}

.subtitulo{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitulo p{
    color: var(--color-w1);
    font-family: var(--font);
    font-weight: 400;
    font-size: var(--size-text);
}

.curriculo-archive{
    width: 180px;
    height: 45px;
}

.curriculo-btn {
    margin-top: 15px;
    background-color: var(--color-b2);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.curriculo-btn p{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-size: var(--size-text);
    font-weight: 400;
    text-decoration: none;
    color: var(--color-w2);
}

.icon-download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--color-b3);
    transition: all 0.2s ease-in-out;
}

.icon-download i{
    font-size: var(--size-text);
    text-decoration: none;
    color: var(--color-w2);
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.curriculo-btn:hover .icon-download{
    background-color: var(--color-w1);
    transition: all 0.2s ease-in-out;  
}

.curriculo-btn:hover i{
    color: var(--color-b1);
    transition: all 0.2s ease-in-out;  
}

.portfolio{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-b1);
}

.dunkel{
    background-image: var(--dunkel-bg);
    color: var(--dunkel-txt);
}

.cerveja{
    background-color: var(--cerveja-bg);
    color: var(--cerveja-txt);
}

.cantarola{
    background-color: var(--cantarola-bg);
    color: var(--cantarola-txt);
}

.manifesto{
    background-color: var(--manifesto-bg);
    color: var(--manifesto-txt);
}

.dimaitre{
    background-color: var(--dimaitre-bg);
    color: var(--dimaitre-txt);
}

.daroca{
    background-image: var(--daroca-bg);
    color: var(--daroca-txt);
}

.solitude{
    background-color: var(--solitude-bg);
    color: var(--solitude-txt);
}

.caldelica{
    background-color: var(--caldelica-bg);
    color: var(--caldelica-txt);
}

.lared{
    background-color: var(--lared-bg);
    color: var(--lared-txt);
}

.up{
    background-color: var(--up-bg);
    color: var(--up-txt);
}

.projetos{
    width: 50%;
    height: 70vh;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.project-logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-logo img{
    width: 10vw;
    transition: all 0.5s ease-in-out;
}

.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.projetos:hover .cover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.projetos:hover .project-logo img{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.project-bg{
    width: 100%;
    height: 100%;
}

.project-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .2;
}

.selo{
    position: absolute;
    width: 100%;
    height: 21%;
    left: 2%;
    bottom: 2%;
    transition: all 0.5s ease-in-out;
}

.selo h2{
    text-align:left;
    font-family: var(--font);
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.6em;
}

.selo p{
    text-align:left;
    color: var(--color-w2);
    font-family: var(--font);
    font-weight: 400;
    font-size: .8em;
}

.open-project{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 2%;
    position: absolute;
    bottom: 0;
}

.open-project h3{
    color: var(--color-w2);
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.3em;
    transition: all 0.3s ease-in-out;
}

.open-project i{
    color: var(--color-w2);
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    height: 10vh;
}

.creditos p{
    font-family: var(--font);
    color: var(--color-w1);
    text-align: center;
    font-size: .8em;
    font-weight: 300;
}

.backtotop{
    width: 2.2em;
    height: 2.2em;
    border-radius: 45px;
    border: none;
    background-color: var(--color-b2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    position: fixed;
    z-index: 2;
    right: 5vw;
    bottom: 3vh;
}

.backtotop:hover{
    background-color: var(--color-w1);
    transition: all 0.2s ease-in-out;
}

.backtotop i{
    font-size: var(--size-text);
    color: var(--color-w1);
    transition: all 0.2s ease-in-out;
}

.backtotop:hover i{
    color: var(--color-b1);
    transition: all 0.2s ease-in-out;
}

@media (min-width: 769px) and (max-width: 1024px){  /*telas pequenas, laptops*/
    body{
        width: 100vw;
    }

    .logo a{
        font-size: 1.4em;
    }

	.project-logo img{
        width: 14vw;
    }
}

@media (min-width: 481px) and (max-width: 768px){   /*iPads, tablets*/
    body{
        width: 100vw;
    }

    .logo a{
        font-size: 1.4em;
    }

    .chamada{
        height: 83vh;
    }

    .subtitulo{
        margin-top: 1vh;
    }

    .subtitulo p{
        font-size: .9em;
    }

    .project-logo img{
        width: 18vw;
    }

    .projetos{
        height: 45vh;
    }

    .cover{
        display: none;
    }

    .projetos:hover .project-logo img{
        opacity: 1;
    }
}

@media (max-width: 480px){   /*dispositivos móveis*/
    body{
        width: 100vw;
    }
    
    .logo a{
        font-size: 1.2em;
    }

    .chamada{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 83vh;
    }

    .hero{
        align-items: center;
        justify-content: center;
    }

    .titulo{
        font-size: 21vw;
        text-align: center;
    }

    .subtitulo{
        margin-top: 1vh;
    }

    .subtitulo p{
        font-size: 3.3vw;
        text-align: center;
    }

    .curriculo-btn {
        margin-top: 10vh;
        width: 40vw;
        justify-content: space-between;
        align-items: center;
    }
    
    .curriculo-btn p{
        width: 75%;
    }

    .icon-download{
        justify-content: center;
        width: 25%;
        height: 100%;
    }
    
    .icon-download i{
        margin: 25%;
    }

    .project-logo img{
        width: 30vw;
    }

    .projetos{
        width: 100%;
        height: 55vh;
    }

    .cover{
        display: none;
    }

    .projetos:hover .project-logo img{
        opacity: 1;
    }
}

@media (max-width: 768px){ /*menus ipad e celular*/
    body{
        width: 100vw;
    }

    .open-nav-btn{
        display: flex;
        width: 50px;
        height: 50px;
        border: none;
        transition: 0.3s ease-in-out;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .close-nav-btn{
        display: none;
        width: 50px;
        height: 50px;
        border: none;
        transition: 0.3s ease-in-out;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 4;
    }

    .open-bars, .close-bars{
        position: absolute;
        display: block;
        border-radius: 40px;
        height: 0.6vh;
        width: 70%;
        background-color: var(--color-w1);
    }
    
    .open-bars:nth-child(1){
        top: 1.75vh;
    }
    
    .open-bars:nth-child(2){
        opacity: 1;
    }
    
    .open-bars:nth-child(3){
        bottom: 1.75vh;
    }
    
    .close-bars:nth-child(1){
        transform: rotate(-45deg);
    }
    
    .close-bars:nth-child(2){
        transform: rotate(45deg);
    }

    nav{
        position: fixed;
        background-color: var(--color-b2);
        height: 100vh;
        width: 100vw;
        top: 0;
        right: 0;
        z-index: 3;
        transition: 0.7s ease-in-out;
        display: none;
    }

    .menu-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        gap: 5px;
        margin-top: 15vh;
    }

    .menu-social{
        display: none;
    }

    .menu-list li a{
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }

    .menu-social{
        display: flex;
        width: 100%;
        height: 10%;
        position: absolute;
        bottom: 0;
    }

    .menu-socialmedia{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
    }

    .menu-socialmedia ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12.5%;
    }

    .menu-socialmedia ul li{
        list-style-type: none;
    }

    .menu-rs a{
        color: var(--color-b1);
        font-size: 1.7em;
        cursor: pointer;
    }
    
    .social{
        display: none;
    }
}

















