/*PAGINAS DOS PROJETOS*/
.port-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.port-cabecalho{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.port-logo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.port-logo img{
    width: 10%;
}

.overlay-bglogo{
    width: 100%;
    height: 100%;
    opacity: .9;
    position: absolute;
    top: 0;
}

.port-bglogo{
    width: 100%;
    height: 100%;
}

.port-bglogo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.port-projeto{
    padding: 0 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
}

.modal{
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg-modal);
    position: fixed;
    top: 0;
    z-index: 3;
    opacity: 0;
    transition: visibility 0.15s linear, opacity 0.3s linear;
}

#bt_close{
    color: var(--color-w1);
    position: absolute;
    top: 0;
    right: 5vw;
    font-size: 2.5em;
    cursor: pointer;
    font-family: var(--font);
    font-weight: 300;
    transition: all ease-out 0.4s;
}

#bt_close:hover, #bt_prev:hover, #bt_next:hover{
    color: var(--color-w2);
}

#bt_next{
    color: var(--color-w1);
    position: absolute;
    top: 50vh;
    right: 5vw;
    font-size: 2.5em;
    cursor: pointer;
    font-family: var(--font);
    font-weight: 400;
    transition: all ease-out 0.4s;
}

#bt_prev{
    color: var(--color-w1);
    position: absolute;
    top: 50vh;
    left: 5vw;
    font-size: 2.5em;
    cursor: pointer;
    font-family: var(--font);
    font-weight: 400;
    transition: all ease-out 0.4s;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#modal_img{
    max-width: 75vw;
    max-height: 85vh;
    transform: scale(0);
    transition: all linear 0.3s;
    cursor: pointer;
}

.modal_active{
    visibility: visible;
    opacity: 1;
}

.modal_active #modal_img{
    transform: scale(1);
}

.projeto_imgs{
    transition: all linear 0.4s;
}

.projeto_imgs:hover{
    opacity: 0.9;
}

.box img{
    cursor: pointer;
    object-fit: cover;
}

.box1-a{
    display: flex;
    justify-content:space-between;
}

.box1-a img{
    width: 100%;
    aspect-ratio: 2.35 / 1;
}

.box1-b{
    display: flex;
    justify-content:space-between;
}

.box1-b img{
    width: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box1-c{
    display: flex;
    justify-content:space-between;
}

.box1-c img{
    width: 100%;
    aspect-ratio: 2.35 / 0.5;
}

.box2-a{
    display: flex;
    justify-content:space-between;
}

.box2-a img{
    width: 50%;
    aspect-ratio: 2.35 / 2;
}

.box2-b{
    display: flex;
    justify-content:space-between;
}

.box2-b img{
    width: 50%;
    aspect-ratio: 2.35 / 1.5;
}

.box2-c{
    display: flex;
    justify-content:space-between;
    width: 50%;
}

.box2-c:nth-child(2){
    flex-direction: column;
}

.box2-c img{
    width: 100%;
    aspect-ratio: 2 / 2.35;
}

.box-hori50{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.box-hori50 img{
    width: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box2-d-e-row{
    display: flex;
    flex-direction: row;
}

.box2-d{
    display: flex;
    justify-content:space-between;
    width: 70%;
}

.box2-d img{
    width: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box2-e{
    display: flex;
    justify-content:space-between;
    width: 30%;
}

.box2-e img{
    width: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box2-note{
    display: flex;
    justify-content:space-between;
    width: 50%;
}

.box2-note img{
    width: 100%;
    aspect-ratio: 1 / 2.35;
}

.box2-mark{
    display: flex;
    flex-direction: row;
}

.box2-mark1{
    display: flex;
    justify-content:space-between;
    width: 60%;
}

.box2-mark1 img{
    width: 100%;
    aspect-ratio: 2.35 / 1;
}

.box2-mark2{
    display: flex;
    justify-content:space-between;
    width: 40%;
}

.box2-mark2 img{
    width: 100%;
    aspect-ratio: 2.35 / 1;
}

.box4{
    display: flex;
    justify-content:space-between;
    width: 25%;
}

.box4 img{
    width: 100%;
    aspect-ratio: 2 / 2.35;
}

.info{
    margin: 1.5% 0;
}
.info p, .info ul{
    margin: 1.5% 0;
    color: var(--color-w1);
    font-weight: 400;
    font-size: 1.3em;
    list-style: none;
}

.info strong{
    color: var(--up-txt);
}

/*PAGINA SOBRE*/
.sobre-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.sobre-cabecalho{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-w1);
}

.sobre-cabecalho h1{
    font-family: var(--font);
    font-weight: 600;
    font-size: 6vw;
    line-height: 100%;
    color: var(--color-b1);
}

/*PAGINA CONTATOS*/
.contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.contact-cabecalho{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-w1);
}

.contact-cabecalho h1{
    font-family: var(--font);
    font-weight: 600;
    font-size: 6vw;
    line-height: 100%;
    color: var(--color-b1);
}
.contact-infos{
    height: 100vh;
    width: 100%;
    padding: 15vh 5vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5vw;
}

.contact-info{
    height: 100%;
    width: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact-info h2{
    color: var(--color-w2);
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.5vw;
}

.contact-info p{
    color: var(--color-w1);
    font-family: var(--font);
    font-weight: 300;
    font-size: 1.1vw;
}

.telefone{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.local{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social ul{
    display: flex;
    flex-direction: row;
    gap: 10%;
    transition: all 0.5s ease-in-out;
}

.social ul li{
    list-style-type: none;
}

.rs a{
    color: var(--color-w1);
    font-size: 1.75em;
}

.rs a:hover{
    color: var(--color-w2);
}

.border-form{
    width: .25vw;
    height: 100%;
    border-radius: 20px;
    background-color: var(--color-b2);
}

.contact-form{
    height: 100%;
    width: 75vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_contato {
    font-family: var(--font);
    font-weight: 600;
    font-size:2.1vw;
    color: var(--color-w2);
    text-align: left;
    margin-bottom:20px;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label{
    font-family: var(--font);
    font-weight: 500;
    font-size: .8em;
    color: var(--color-b1);
    top: -11px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
    background: var(--color-w1);
    padding: 5px 15px;
    left: 25px;
    border-radius: 50px;
}

.style-form-input{
    float: left;
    width: 49%;
    margin: .7em 0;
    position: relative;
}

.right { 
    width: 49%;
    float:right;
}

.style-form-input label {
    color: var(--color-w1);
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    font-family: var(--font);
    font-size: 1.1vw;
}

.style-form-input.full { 
    width: 100%;
}

input {
    width: 100%;
    padding: 30px;
    border: 0;
    font-size: 1.1vw;
    background-color: var(--color-b2);
    font-family: var(--font);
    color: var(--color-w1);
    font-weight: 300;
    border-radius: .5vw;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    padding: 30px;
    border: 0;
    font-size: 1.1vw;
    background-color: var(--color-b2);
    font-family: var(--font);
    color: var(--color-w1);
    font-weight: 300;
    border-radius: .5vw;
    min-height: 7.5em;
}

.btn-submit {
    width: 150px;
    height: 45px;
    float: left;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border:none;
    display: flex;
    flex-direction: row;
    background-color: var(--color-b2);
}

.title-btn-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    background-color:var(--color-b2);
    border-radius: 5px 0px 0px 5px;
}

.title-btn-form p{
    color: var(--color-w1);
    font-family: var(--font);
    text-align: center;
    font-size: 1.1vw;
}

.icon-btn-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    background-color: var(--color-b3);
    border-radius: 0px 5px 5px 0px;
}

.icon-btn-form i{
    color: var(--color-w1);
    text-align: center;
    font-size: 1.2em;
}

.btn-submit:hover .icon-btn-form{ 
    background-color: var(--color-w1);
}

.btn-submit:hover i{
    color: var(--color-b1);
}

@media (max-width: 768px){
    .port-cabecalho{
        height: 40vh;
    }

    .port-container{
        font-size: .8em;
    }

    .port-logo img{
        width: 12.5%;
    }

    .contact-cabecalho h1{
        font-size: 9vw;
    }

    .contact-infos{
        padding: 10vh 5vw;
        flex-direction: column-reverse;
        gap: 10vh;
        height:auto;
    }

    .contact-form{
        width: 100%;
    }

    .title_contato{
        font-size: 3.2vw;
    }

    input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label{
        font-size: .7em;
    }

    .style-form-input label{
        font-size: 2vw;
    }

    input{
        font-size: 2vw;
    }

    textarea{
        min-height: 14em;
        font-size: 2vw;
    }

    .btn-submit{
        width: 150px;
    }

    .title-btn-form p{
        font-size: 2vw;
    }

    .border-form{
        display: none;
    }

    .contact-info{
        width: 100%;
        gap: 5vh;
    }

    .contact-info h2{
        color: var(--color-w2);
        font-family: var(--font);
        font-weight: 500;
        font-size: 2.2vw;
        line-height: 1.8em;
    }
    
    .contact-info p{
        color: var(--color-w1);
        font-family: var(--font);
        font-weight: 300;
        font-size: 1.6vw;
    }

    .telefone, .email, .local, .social{
        height: 100%;
        text-align: right;
    }

    .social ul{
        gap: 3%;
        justify-content: right;
    }

    .rs a{
        font-size: 1.4em;
    }
}

@media (max-width: 480px){
    .port-cabecalho{
        height: 35vh;
    }

    .port-logo img{
        width: 18%;
    }

    .box:not(.box4, .box2-b){
        flex-direction: column;
    }

    .box2-a img, .box2-c, .box2-d, .box2-e, .box2-mark1, .box2-mark2, .box2-note{
        width: 100%;
    }

    .box-hori50{
        height: auto;
    }

    .contact-cabecalho h1{
        font-size: 13vw;
    }

    .contact-infos{
        gap: 5vh;
        padding: 5vh 5vw;
    }

    .title_contato{
        font-size: 5.2vw;
    }

    .style-form-input{
        width: 100%;
        margin: .7em 0;
    }
    
    .right { 
        width: 100%;
        float: left;
    }

    input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label{
        font-size: .75em;
    }

    .style-form-input label{
        font-size: .8em;
    }

    input{
        font-size: .8em;
    }

    textarea{
        font-size: .8em;
    }

    .btn-submit{
        width: 140px;
    }

    .title-btn-form p{
        font-size: 1em;
    }

    .border-form{
        display: none;
    }

    .contact-info{
        width: 100%;
        gap: 5vh;
    }

    .contact-info h2{
        color: var(--color-w2);
        font-family: var(--font);
        font-weight: 500;
        font-size: 1.2em;
        line-height: 1.8em;
    }
    
    .contact-info p{
        color: var(--color-w1);
        font-family: var(--font);
        font-weight: 300;
        font-size: .8em;
    }

    .social ul{
        gap: 5%;
    }
}