/*PAGINAS DOS PROJETOS*/
.port-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.port-cabecalho{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.port-logo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.port-logo img{
    max-width: 26vw;
    max-height: 24vh;
}

.overlay-bglogo{
    width: 100%;
    height: 100%;
    opacity: .9;
    position: absolute;
    top: 0;
}

.port-bglogo{
    width: 100%;
    height: 100%;
}

.port-bglogo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.port-projeto{
    padding: 0 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
}

.imgs-project{
    line-height: 0;
}

.port-projeto .projeto_imgs{
    transition: all linear 0.4s;
}

.port-projeto .projeto_imgs:hover{
    opacity: 0.9;
}

.box img, video{
    cursor: pointer;
    object-fit: cover;
}

.box1-a{
    display: flex;
    justify-content:space-between;
}

.box1-a img, video{
    width: 100%;
    aspect-ratio: 2.35 / 1;
}

.box1-b{
    display: flex;
    justify-content:space-between;
}

.box1-b img{
    width: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box1-c{
    display: flex;
    justify-content:space-between;
}

.box1-c img{
    width: 100%;
    aspect-ratio: 2.35 / 0.5;
}

.box2-a{
    display: flex;
    justify-content:space-between;
}

.box2-a img{
    width: 100%;
    aspect-ratio: 2.35 / 2;
}

.box2-b{
    display: flex;
    justify-content:space-between;
}

.box2-b img{
    width: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box2-c{
    display: flex;
    justify-content:space-between;
}

.box2-c:nth-child(2){
    flex-direction: column;
}

.box2-c img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 2.35;
}

.box-hori50{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box-hori50 img{
    width: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box2-d-e-row{
    display: flex;
    flex-direction: row;
}

.box2-d{
    display: flex;
    justify-content:space-between;
    width: 70%;
}

.box2-d img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box2-e{
    display: flex;
    justify-content:space-between;
    width: 30%;
}

.box2-e img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2.35 / 1.5;
}

.box2-note{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.box2-note img{
    width: 100%;
    aspect-ratio: 1 / 2.35;
}

.box2-mark{
    display: flex;
    flex-direction: row;
}

.box2-mark1{
    display: flex;
    justify-content:space-between;
    width: 65%;
}

.box2-mark1 img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2.35 / 1;
}

.box2-mark2{
    display: flex;
    justify-content:space-between;
    width: 35%;
}

.box2-mark2 img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2.35 / 1;
}

.box4{
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.box4 img{
    width: 100%;
    aspect-ratio: 2 / 2.35;
}

.info{
    margin: 1.5% 0;
}
.info p, .info ul{
    margin: 1.5% 0;
    color: var(--color-w);
    font-weight: 400;
    font-size: 1.3em;
    list-style: none;
}

.info strong{
    color: var(--up-txt);
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: visibility 0.15s linear, opacity 0.3s linear;
    z-index: 3;
}

#bt_close{
    color: var(--color-w);
    position: absolute;
    top: 0;
    right: 5vw;
    font-size: 2.5em;
    cursor: pointer;
    font-family: var(--font);
    font-weight: 300;
    transition: all ease-out 0.4s;
    z-index: 5;
}

#bt_close:hover, #bt_prev:hover, #bt_next:hover{
    color: var(--color-y);
}

#bt_next{
    color: var(--color-w);
    position: absolute;
    top: 50vh;
    right: 5vw;
    font-size: 2.5em;
    cursor: pointer;
    font-family: var(--font);
    font-weight: 400;
    transition: all ease-out 0.4s;
    z-index: 5;
}

#bt_prev{
    color: var(--color-w);
    position: absolute;
    top: 50vh;
    left: 5vw;
    font-size: 2.5em;
    cursor: pointer;
    font-family: var(--font);
    font-weight: 400;
    transition: all ease-out 0.4s;
    z-index: 5;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 5;
}

#modal_img{
    max-width: 75vw;
    max-height: 85vh;
    transform: scale(0);
    transition: all linear 0.3s;
    cursor: pointer;
    z-index: 5;
}

.modal.active{
    pointer-events: auto;
    opacity: 1;
}

.modal.active #modal_img{
    transform: scale(1);
}

.bg-modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: var(--color-bg-modal);
    z-index: 3;
}

/*MERULA*/
.port-projeto-merula{
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--merula-font);
}

.merula-preset1{
    width: 100vw;
    padding: 5vh 0;
    background-color: var(--merula-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merula-preset1-header{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 85vw;
    align-items: center;
    justify-content: space-between;
    color: var(--merula-bg);
}

.merula-preset1-indice h4{
    font-weight: 400;
}

.merula-preset-logo{
    width: 3vh;
    height: 3vh;
}

.merula-sobre{
    display: flex;
    flex-direction: row;
    height: 55vh;
    width: 85vw;
    align-items: center;
    justify-content: space-between;
}

.merula-sobre-titulo{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.merula-sobre-titulo h2{
    font-size: 4.8em;
    color: var(--merula-bg);
    font-weight: 400;
}

.merula-sobre-texto{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merula-sobre-texto p{
    font-size: 1.2em;
    color: var(--merula-txt2);
    font-weight: 300;
}

.merula-poster{
    display: flex;
    justify-content:center;
}

.merula-poster img{
    width: 100%;
    cursor: pointer;
}

.merula-preset2{
    width: 100vw;
    padding: 5vh 0 7.5vh 0;
    background-color: var(--merula-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merula-preset2-header{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 85vw;
    align-items: center;
    justify-content: space-between;
    color: var(--merula-tit);
}

.merula-preset2-indice h4{
    font-weight: 400;
}

.merula-processo{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    padding: 10vh 7.5vw;
    justify-content: space-between;
    background-image: url(../images/pages/merula/bg-project.jpg);
    background-size: contain;
    background-color: var(--merula-tit);
}

.merula-processo img{
    width: 41.5vw;
    cursor: pointer;
}

.merula-papelaria{
    display: flex;
    justify-content:center;
    align-items: center;
}

.merula-papelaria img{
    width: 100%;
    cursor: pointer;
}

.merula-cores{
    width: 100vw;
    height: 85vh;
    background-image: url(../images/pages/merula/bg-color.jpg);
    background-size: contain;
    background-color: var(--color-w);
    display: flex;
    justify-content: center;
    align-items: center;
}

.merula-cores-palette img{
    width: 85vw;
    cursor: pointer;
}

.merula-tipografia{
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 85vw;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.merula-tipografia-top{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 5vw;
}

.merula-tipografia-titulo{
    width: 40vw;
    display: flex;
    justify-content: right;
}

.merula-tipografia-titulo p{
    font-size: 5em;
    color: var(--merula-bg);
    font-weight: 300;
}

.merula-tipografia-info{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merula-tipografia-info p{
    font-size: 1.15em;
    color: var(--merula-txt2);
    font-weight: 200;
}

.merula-tipografia-bottom{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

.merula-tipografia-alfabeto{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: end;
}

.merula-tipografia-alfabeto p{
    font-size: 1.7em;
    color: var(--merula-txt2);
    font-weight: 300;
}

.merula-tipografia-familyfont{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.merula-tipografia-font{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:left;
    gap: 3vw;
    font-size: 1.8em;
    color: var(--merula-txt2);
}

.merula-font-thin{
    font-weight: 100;
}
.merula-font-light{
    font-weight: 200;
}
.merula-font-regular{
    font-weight: 300;
}
.merula-font-medium{
    font-weight: 400;
}
.merula-font-bold{
    font-weight: 500;
}
.merula-font-black{
    font-weight: 600;
}
.merula-font-thin-outline{
    font-weight: 150;
}
.merula-font-light-outline{
    font-weight: 250;
}
.merula-font-regular-outline{
    font-weight: 350;
}
.merula-font-medium-outline{
    font-weight: 450;
}
.merula-font-bold-outline{
    font-weight: 550;
}
.merula-font-black-outline{
    font-weight: 650;
}

.merula-cards{
    display: flex;
    justify-content:center;
    background-color: var(--merula-txt2);
}

.merula-cards img{
    width: 85vw;
    cursor: pointer;
}

.merula-application{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: var(--merula-bg);
    height: 65vh;
    width: 100vw;
}

.apl-one, .apl-two{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.merula-application img{
    width: 20vw;
    cursor: pointer;
}

.merula-socialmedia{
    display: flex;
    justify-content:center;
    background-color: var(--merula-txt2);
}

.merula-socialmedia img{
    width: 100vw;
    cursor: pointer;
}

.merula-frase{
    display: flex;
    justify-content:center;
}

.merula-frase img{
    width: 100%;
}

/*CELULA COACH*/
.port-projeto-coach{
    font-family: var(--coach-font);
}

.coach-preset1{
    background-color: var(--coach-txt);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.coach-sobre, .coach-sobre2, .coach-sobre3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding: 10vh 0;
}

.coach-sobre p, .coach-sobre2 p, .coach-sobre3 p{
    width:70%;
    font-size: 1.3em;
    color: var(--coach-bg);
    font-weight: 200;
    line-height: 115%;
}

.coach-preset2{
    background-color: var(--coach-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.tit-coach{
    height: 35vw;
    padding-left: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.tit-coach p{
    font-family: var(--coach-font);
    font-weight: 500;
    font-size: 6vw;
    line-height: 110%;
    color: var(--color-w);
}

.tit-coach-bg{
    padding-right: 7.5%;
    height: 35vw;
}

.tit-coach-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-bispo{
    width: 60vw;
    height: 25vw;
}

.foto-bispo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.foto-povo{
    background-color: var(--coach-bg);
    width: 100vw;
    height: 35vw;
}

.foto-povo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.coach-preset3{
    background-color: var(--coach-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding:5vw 0;
}

.logo-coach-conceito{
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-coach-conceito img{
    width: 100%;
    height: 100%;
}

.logo-coach-regras{
    width: 50vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
}

.logo-coach-grid img{
    width: 20vw;
}

.logo-coach-limite img{
    width: 20vw;
}

.logo-coach-tipos{
    width: 60vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
}

.logo-coach-tipos img{
    height: 25vw;
}

.logo-coach-infos{
    width: 100vw;
    padding: 0 7.5%;
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}

.logo-coach-cores{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5vw;
}

.coach-azul-escuro{
    width: 11vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.coach-azul-escuro img{
    width: 80%;
}

.texto-azul-escuro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-azul-escuro p{
    font-size: 1em;
    color: var(--coach-bg);
    font-weight: 400;
    line-height: 130%;
}

.coach-azul-escuro span{
    width: 100%;
    height: 5%;
    background-color: #302e2f;
}

.coach-azul-claro{
    width: 11vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.coach-azul-claro img{
    width: 80%;
}

.texto-azul-claro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-azul-claro p{
    font-size: 1em;
    color: var(--coach-bg);
    font-weight: 400;
    line-height: 130%;
}

.coach-azul-claro span{
    width: 100%;
    height: 5%;
    background-color: #8e8f91;
}

.coach-branco{
    width: 11vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.coach-branco img{
    width: 80%;
}

.texto-branco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-branco p{
    font-size: 1em;
    color: var(--coach-bg);
    font-weight: 400;
    line-height: 130%;
}

.coach-branco span{
    width: 100%;
    height: 5%;
    background-color: #c9c9c9;
}

.logo-coach-tipografia{
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.coach-tipografia-exemplo{
    width: 11vw;
    height: 18.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coach-letra p{
    text-align: right;
    font-size: 6.5em;
    color: var(--coach-bg);
    font-weight: 500;
}

.coach-texto-exemplo p{
    text-align: right;
    font-size: 1em;
    color: var(--coach-bg);
    font-weight: 400;
    line-height: 120%;
}

.coach-espessura{
    margin-top: 1vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.coach-espessura p{
    text-align: left;
    font-size: 2.1em;
    color: var(--coach-bg);
    line-height: 140%;
}

.coach-espessura p:nth-child(1){
    font-weight: 600;
}

.coach-espessura p:nth-child(2){
    font-weight: 500;
}

.coach-espessura p:nth-child(3){
    font-weight: 400;
}

.coach-espessura p:nth-child(4){
    font-weight: 300;
}

.coach-espessura p:nth-child(5){
    font-weight: 200;
}

.coach-espessura p:nth-child(6){
    font-weight: 100;
}

.coach-preset4{
    background-color: var(--coach-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding:5vw 7.5vw;
    gap: 3.5vw;
}

.coach-cartao, .coach-papelaria, .coach-tecido, .coach-outros, .coach-spotify{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.coach-cartao1{
    width: 48%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coach-cartao1-chuva{
    width: 100%;
    height: 15.75vw;
}

.coach-cartao1-chuva img{
    width: 100%;
    height: 15.75vw;
    object-fit:cover;
}

.coach-cartao1-entrega{
    width: 100%;
    height: 15.75vw;
}

.coach-cartao1-entrega img{
    width: 100%;
    height: 15.75vw;
    object-fit:cover;
}

.coach-cartao2{
    width: 48%;
    height: 35vw;
}

.coach-cartao2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-biblia{
    width: 37%;
    height: 30vw;
}

.coach-biblia img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-quadro{
    width: 25%;
    height: 30vw;
}

.coach-quadro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-caderno{
    width: 30%;
    height: 30vw;
}

.coach-caderno img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-carteira{
    width: 45%;
    height: 28vw;
}

.coach-carteira img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-bolsa{
    width: 30%;
    height: 28vw;
}

.coach-bolsa img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-bolsa-detalhe{
    width: 17%;
    height: 28vw;
}

.coach-bolsa-detalhe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-canecas{
    width: 48%;
    height: 30vw;
}

.coach-canecas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-bone{
    width: 48%;
    height: 30vw;
}

.coach-bone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coach-spotify img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*FOOTER BACK TO TOP*/
.cd-top{
    width: 2.3em;
    height: 2.3em;
    border-radius: 45px;
    border: none;
    background-color: var(--color-y);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    position: fixed;
    z-index: 2;
    right: 5vw;
    bottom: 3.5vh;
}

.js .cd-top{
    visibility:hidden;
    opacity:0;
    transition:opacity .3s, visibility .3s, background-color .3s;}


.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
  
.js .cd-top--fade-out {
    opacity: .5;
}

.js .cd-top:hover{
    background-color: var(--color-w);
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.cd-top i{
    font-size: var(--size-text);
    color: var(--color-w);
    transition: all 0.2s ease-in-out;
}

.cd-top:hover i{
    color: var(--color-b);
    transition: all 0.2s ease-in-out;
}