p, img, h2{
    user-select: none;
}

.portfolio{
    height: 75vh;
    width: 100vw;
    background-color: var(--color-c);
    padding: 5vh 0;
}

.projetos{
    height: 65vh;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.bg-project{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-logo{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.project-logo img{
    user-select: none;
}

.cover{
    width: 100%;
    height: 25%;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
    background-color: var(--color-w);
}

.selo{
    width: 88%;
}

.selo h2{
    text-align:left;
    font-family: var(--font);
    font-weight: 600;
    font-size: 2.25vh;
    line-height: 1.5vw;
    user-select: none;
}

.selo p{
    text-align:left;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.7vh;
    user-select: none;
}

.btn-project{
    width: 6vh;
    height: 6vh;
    transition: all 0.3s ease-in-out;
}

.btn-project a{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-y);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-project i{
    font-size: 2.25vh;
    text-decoration: none;
    color: var(--color-b);
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.btn-project:hover{
    width: 6.25vh;
    height: 6.25vh;
    transition: all 0.3s ease-in-out;
}

.solitude-bg{
    background-color: var(--solitude-bg);
}

.solitude h2{
    color: var(--solitude-bg);
}

.solitude img{
    max-height: 6.5vw;
    transition: all 0.3s ease-in-out;
}

.coach-bg{
    background-color: var(--coach-bg);
}

.coach h2{
    color: var(--coach-bg);
}

.coach img{
    max-width: 4.75vw;
    transition: all 0.3s ease-in-out;
}

.merula-bg{
    background-color: var(--merula-bg);
}

.merula h2{
    color: var(--merula-bg);
}

.merula img{
    max-width: 14vw;
    transition: all 0.3s ease-in-out;
}

.up-bg{
    background-color: var(--up-bg);
}

.up h2{
    color: var(--up-bg);
}

.up img{
    max-height: 6vw;
    transition: all 0.3s ease-in-out;
}

.dunkel-bg{
    background-image: var(--dunkel-bg);
}

.dunkel h2{
    color: var(--dunkel-tit);
}

.dunkel img{
    max-width: 12vw;
    transition: all 0.3s ease-in-out;
}

.borogodo-bg{
    background-color: var(--borogodo-bg);
}

.borogodo h2{
    color: var(--borogodo-bg);
}

.borogodo img{
    max-width: 13vw;
    transition: all 0.3s ease-in-out;
}

.manifesto-bg{
    background-color: var(--manifesto-bg);
}

.manifesto h2{
    color: var(--manifesto-bg);
}

.manifesto img{
    max-width: 13vw;
    transition: all 0.3s ease-in-out;
}

.coach p, .solitude p, .merula p, .up p, .dunkel p, .borogodo p, .manifesto p{
    color: var(--color-b);
}

.controladores{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.controls{
    width: 5vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.controls i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75vw;
    width: 1.75vw;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 50%;
    background-color: var(--color-w);
    color: var(--color-b);
    cursor: pointer;
}

.controls i:hover{
    height: 1.9vw;
    width: 1.9vw;
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait){  /*telas pequenas, laptops*/
    .portfolio{
        padding: 12.5vh 0;
    }
    
    .projetos{
        height: 50vh;
    }
    
    .selo h2{
        font-size: 2.25vh;
        line-height: 4vw;
    }
    
    .selo p{
        font-weight: 500;
        font-size: 1.25vh;
    }

    .btn-project{
        width: 5vh;
        height: 5vh;
    }
    
    .btn-project i{
        font-size: 2vh;
    }

    .controls{
        width: 12.5vw;
    }
    
    .controls i{
        height: 5vw;
        width: 5vw;
        font-size: 3.25vw;
    }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: portrait){   /*iPads, tablets*/
    .portfolio{
        padding: 12.5vh 0;
    }
    
    .projetos{
        height: 50vh;
    }
    
    .selo h2{
        font-size: 2vh;
        line-height: 4vw;
    }
    
    .selo p{
        font-weight: 500;
        font-size: 1.3vh;
    }

    .btn-project{
        width: 5vh;
        height: 5vh;
    }
    
    .btn-project i{
        font-size: 2vh;
    }

    .controls{
        width: 15vw;
    }
    
    .controls i{
        height: 6vw;
        width: 6vw;
        font-size: 3.5vw;
    }
}

@media (max-width: 480px){   /*dispositivos móveis*/
    .portfolio{
        height: 75vh;
        padding: 12.5vh 0;
    }

    .projetos{
        height: 50vh;
    }

    .selo h2{
        font-size: 2.25vh;
        line-height: 5vw;
    }
    
    .selo p{
        font-weight: 500;
        font-size: 1.4vh;
    }

    .btn-project{
        width: 5.5vh;
        height: 5.5vh;
    }
    
    .btn-project i{
        font-size: 2.25vh;
    }

    .controls{
        width: 17.5vw;
    }
    
    .controls i{
        height: 7vw;
        width: 7vw;
        font-size: 4vw;
    }
}