.header-sobre{
    height: 25vh;
    width: 100%;
    padding: 5vh 3.5% 0 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-imagem{
    flex-direction: column;
    justify-content: center;
    justify-content: start;
}

.sobre-foto{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    background-image: url(../images/foto-bg.jpg);
    background-size: cover;
    filter:brightness(1.1) contrast(1.1) saturate(2.75) grayscale(.5);
}

.sobre-bio{
    width: 100%;
    padding: 0 3.5%;
}

.position-sobre{
    padding: 6% 0% 4% 0%;
}

.position-sobre h3{
    font-size: 3.5vw;
    color: var(--color-y);
    font-family: var(--font);
    font-weight: 500;
}

.sobre-texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre-texto p{
    font-family: var(--font);
    font-weight: 300;
    font-size: 5vw;
    line-height: 125%;
    margin-bottom: 4vw;
    color: var(--color-w);
}

.sobre-specs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre-texto-skills p{
    font-family: var(--font);
    font-weight: 300;
    font-size: 3.25vw;
    line-height: 125%;
    margin-bottom: 3vw;
    color: var(--color-w);
}

.sobre-skills{
    display: flex;
    flex-direction: row;
}

.sobre-point-skills, .sobre-conhecimentos, .sobre-resource-design, .sobre-all-resource, .sobre-idiomas, .sobre-curriculo{
    width: 50%;
}

.btn-sobre{
    width: 42.5%;
    height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-curriculo{
    border-radius: 40px;
    width: 100%;
    height: 100%;
    padding: 0 3.5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-w);
}

.btn-curriculo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.btn-yellow p{
    font-size: 2.75vw;
    font-family: var(--font);
    font-weight: 500;
    padding-left: 1.5vw;
    color: var(--color-b);
}

.icon-download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-b);
}

.icon-download i{
    font-size: 2.25vw;
    text-decoration: none;
    color: var(--color-w);
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.sobre-social{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3.5%;
}

.sobre-redes{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sobre-redes-sociais{
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sobre-redes-sociais i{
    font-size: 7.5vw;
    color: var(--color-w);
    cursor: pointer;
}

.sobre-contatos{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sobre-dados{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.sobre-dados a, .sobre-dados p{
    color: var(--color-w);
    font-family: var(--font);
    font-weight: 400;
    font-size: 3.5vw;
    line-height: 150%;
}

@media screen and (min-width: 1024px) {
    .header-sobre{
        height: 80vh;
        width: 100%;
        padding: 0 7.5%;
    }
    
    .sobre-bio{
        padding: 0 7.5%;
    }
    
    .position-sobre{
        padding: 4% 0% 2% 0%;
    }
    
    .position-sobre h3{
        font-size: 1vw;
    }
    
    .sobre-texto p{
        font-size: 3vw;
        line-height: 4vw;
        margin-bottom: 2.5vw;
        color: var(--color-w);
    }
    
    .sobre-texto-skills p{
        font-size: 2.25vw;
        line-height: 100%;
        margin-bottom: 2vw;
        margin-top: 1vw;
    }

    .btn-sobre{
        width: 30%;
        height: 8.75vh;
        margin-top: 1vw;
    }

    .btn-curriculo{
        border-radius: 50px;
        padding: 0 4.75%;
    }

    .btn-curriculo a{
        justify-content: space-between;
    }

    .btn-yellow p{
        font-size: 1.75vw;
        padding-left: 1.25vw;
    }

    .icon-download{
        width: 3vw;
        height: 3vw;
        border-radius: 50px;
    }
    
    .icon-download i{
        font-size: 1.75vw;
    }

    .btn-curriculo:hover{
        background-color: var(--color-w);
    }

    .btn-curriculo:hover .icon-download{
        background-color: var(--color-y);
    }

    .btn-curriculo:hover .icon-download i{
        color: var(--color-w);
    }

    .btn-curriculo:hover .btn-yellow p{
        color: var(--color-b);
    }

    .sobre-social{
        width: 100vw;
    }

    .sobre-redes-sociais{
        width: 25%;
    }
    
    .sobre-redes-sociais i{
        font-size: 5vw;
    }

    .sobre-redes-sociais i:hover{
        color: var(--color-y);
    }

    .sobre-dados a, .sobre-dados p{
        color: var(--color-w);
        font-family: var(--font);
        font-weight: 300;
        font-size: 2.25vw;
        line-height: 150%;
    }

    .sobre-dados a:hover{
        color: var(--color-y);
    }
}
